header {
  .navbar {
    min-height: 48px;
  }

  .nav {
    flex-grow: 1;

    .nav-link {
      &.active {
        color: $white;
      }
      @include media-breakpoint-down(sm) {
        padding: 8px;

        span {
          text-indent: -99999px;
          font-size: 0;
          color: transparent;
          @include border-radius(50%);
          background-color: $white;
          padding: 8px;
          display: block;
        }

        &.active {
          span {
            background-color: $primary;
          }
        }
      }
    }
  }
}