$black: #000;
$white: #FFF;
$grey: #CCC;
$greyDark: #333;
$bgGrey: #EEE;
$borderColor: #dee2e6; // bootstrap border color;

$red: #e02a3f;
$green: #29ce68;

$primary: #ef7900;
$secondary: #323131;
$tertiary: #000;

// array with all the colors which we can loop trough later on
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'black': $black,
  'white': $white,
  'grey': $grey,
  'bg-grey': $bgGrey,
  'dark-grey': $greyDark,
);


// create text color classes
@each $color in $colors {
  .#{nth($color, 1)} {
    color: nth($color, 2) !important;
  }
}

// create background color classes
@each $color in $colors {
  .#{nth($color, 1)}-bg {
    background-color: nth($color, 2);
  }
}