@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
     -moz-box-shadow: $val;
          box-shadow: $val;
}


@mixin border-radius($val) {
  -webkit-border-radius: $val;
     -moz-border-radius: $val;
          border-radius: $val;
}


@mixin placeholder($val) {
  ::-webkit-input-placeholder {
    opacity: $val;
  }
  ::-moz-placeholder {
    opacity: $val;
  }
  :-ms-input-placeholder {
    opacity: $val;
  }
  :-moz-placeholder {
    opacity: $val;
  }
}


@mixin transition($val, $val2: null) {
  -webkit-transition: $val, $val2;
     -moz-transition: $val, $val2;
      -ms-transition: $val, $val2;
       -o-transition: $val, $val2;
          transition: $val, $val2;
}


@mixin animation($val) {
  -webkit-animation: $val;
       -o-animation: $val;
          animation: $val;
}

@mixin transform($val) {
  -webkit-transform: $val;
     -moz-transform: $val;
      -ms-transform: $val;
       -o-transform: $val;
          transform: $val;
}



@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotate {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}