html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .AppContent {
    height: 100%;
    background-color: $bgGrey;
  }
}

.box {
  background-color: $white;
  border: 1px solid $borderColor;
  padding: 15px;
}

.navigator {
  min-height: 48px;

  h1 {
    font-size: 25px;
  }
}

.col {
  padding-bottom: 15px;
}